@page 
@model TenBlessings 
@{ ViewData["Title"] = "The 10 Blessings of our Faith"; }
<!-- <h2>@ViewData["Title"]</h2> -->
<h1>@Model.Message</h1>

@section styles{
    <link rel="Stylesheet" href="@Href("~/lib/creative/css/creative.css")" />
    <link rel="Stylesheet" href="@Href("~/lib/bootstrap/dist/css/bootstrap.css")" />
    <link rel="Stylesheet" href="@Href("~/css/site.css")" />
}

<h2>The Ten Virtues</h2>
    <div class="align-content-center">
        <div class="align-content-center container">
            <div class="row-fluid">
                <blockquote class="twitter-tweet" data-lang="en">
                    <p lang="en" dir="ltr">1 - The Virtue of Faith<br>
                        Faith above all. We must trust God and their chosen Emperor to guide us.</p>
                    &mdash; Grand Voice of the High Church (ExarchTatiana) <a href="https://twitter.com/ExarchTatiana/status/987030886272110594?ref_src=twsrc%5Etfw">April 19, 2018</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div class="row-fluid">
                <blockquote class="twitter-tweet" data-lang="en">
                    <p lang="en" dir="ltr">2 - The Virtue of Propriety<br>
                        We must be obedient to tradition, ceremony, courtesy and station.</p>
                    &mdash; Grand Voice of the High Church (ExarchTatiana) <a href="https://twitter.com/ExarchTatiana/status/987034460666368000?ref_src=twsrc%5Etfw">April 19, 2018</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div class="row-fluid">
                <blockquote class="twitter-tweet" data-lang="en">
                    <p lang="en" dir="ltr">3 - The Virtue of Justice<br>
                        We must reward those who behave rightly and punish those who do not.</p>
                    &mdash; Grand Voice of the High Church (ExarchTatiana) <a href="https://twitter.com/ExarchTatiana/status/987035293529329665?ref_src=twsrc%5Etfw">April 19, 2018</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="row-fluid">
                <blockquote class="twitter-tweet" data-lang="en">
                    <p lang="en" dir="ltr">4 - The Virtue of Fortitude<br>
                        We must patiently endure the challenges laid upon us and follow the rightful path despite them.</p>
                    &mdash; Grand Voice of the High Church (ExarchTatiana) <a href="https://twitter.com/ExarchTatiana/status/987037797461741568?ref_src=twsrc%5Etfw">April 19, 2018</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="row-fluid">
                <blockquote class="twitter-tweet" data-lang="en">
                    <p lang="en" dir="ltr">5 - The Virtue of Wisdom<br>
                        We must strive to see the world in its truth and shape it according to God’s will.</p>
                    &mdash; Grand Voice of the High Church (ExarchTatiana) <a href="https://twitter.com/ExarchTatiana/status/987041430769192965?ref_src=twsrc%5Etfw">April 19, 2018</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="row-fluid">
                <blockquote class="twitter-tweet" data-lang="en">
                    <p lang="en" dir="ltr">6 - The Virtue of Temperance<br>
                        We must show prudent moderation and diligent control over our desires.</p>
                    &mdash; Grand Voice of the High Church (ExarchTatiana) <a href="https://twitter.com/ExarchTatiana/status/987042633431252993?ref_src=twsrc%5Etfw">April 19, 2018</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="row-fluid">
                <blockquote class="twitter-tweet" data-lang="en">
                    <p lang="en" dir="ltr">7 - The Virtue of Diligence<br>
                        We must be ever persistent and expend all effort and attention in keeping ourselves and others to the true path.</p>
                    &mdash; Grand Voice of the High Church (ExarchTatiana) <a href="https://twitter.com/ExarchTatiana/status/987412630573854722?ref_src=twsrc%5Etfw">April 20, 2018</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="row-fluid">
                <blockquote class="twitter-tweet" data-lang="en">
                    <p lang="en" dir="ltr">8 - The Virtue of Charity<br>
                        We must show compassion to those worthy of God’s mercy.</p>
                    &mdash; Grand Voice of the High Church (ExarchTatiana) <a href="https://twitter.com/ExarchTatiana/status/987046514718597121?ref_src=twsrc%5Etfw">April 19, 2018</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="row-fluid">
                <blockquote class="twitter-tweet" data-lang="en">
                    <p lang="en" dir="ltr">9 - The Virtue of Integrity<br>
                        We must honor our oaths and uphold the truth.</p>
                    &mdash; Grand Voice of the High Church (ExarchTatiana) <a href="https://twitter.com/ExarchTatiana/status/987047438572761088?ref_src=twsrc%5Etfw">April 19, 2018</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="row-fluid">
                <blockquote class="twitter-tweet" data-lang="en">
                    <p lang="en" dir="ltr">10 - The Virtue of Hope<br>
                        We must never despair, no matter how dark the hour, as God shines their light upon us.</p>
                    &mdash; Grand Voice of the High Church (ExarchTatiana) <a href="https://twitter.com/ExarchTatiana/status/987049428212158465?ref_src=twsrc%5Etfw">April 19, 2018</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>