<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>@ViewData["Title"] - Church of the Emperor-as-Messiah</title>

    <link href="@Url.Content(" ~/lib/creative/css/creative.css ")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(" ~/lib/bootstrap/dist/css/bootstrap.css ")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(" ~/css/site.css ")" rel="stylesheet" type="text/css" /> @RenderSection("Styles", false)

    <link rel="apple-touch-icon" sizes="180x180" href="/Assets/Icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/Assets/Icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/Assets/Icons/favicon-16x16.png">
<link rel="manifest" href="/Assets/Icons/site.webmanifest">
<link rel="shortcut icon" href="/Assets/Icons/favicon.ico">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-config" content="/Assets/Icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width" />

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 50px;" data-spy="affix" data-offset-top="197">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="display: none">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="img-fluid navbar-brand">
                            <img src="~/Assets/Twitter_Header.png" style="width:80%;" runat="server" />
                        </div>

                    </div>
                </div>
                <div class="col-8">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" runat="server" href="~/" style="font-size: 20pt;">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" runat="server" href="~/Decrees" style="font-size: 20pt;">Decrees</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" runat="server" href="~/About" style="font-size: 20pt;">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" runat="server" href="~/Join" style="font-size: 20pt;">Join the Church</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" runat="server" href="~/10Blessings" style="font-size: 20pt;">The Ten Virtues</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" runat="server" href="~/Reading" style="font-size: 20pt;">Readings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" runat="server" href="~/Social" style="font-size: 20pt;">Important Links</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



        </div>
    </nav>

    <div class="center">
        <div class="container body-content">
            <div class="row">
                <div class="col col-centered">
                    @RenderBody()
                </div>
            </div>
            <div style="height:35px;"></div>
            <div class="row">
                <div class="col">
                    <footer style="font-size: larger;">
                        <p>
                            <a href="/Support">Support the Developers</a>
                        </p>
                        <a href="https://github.com/kbmacneal/church_of_the_emperor_as_messiah" target="_blank">This Site and all its content is offered under the MIT license, and is Open Source.</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>



    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery" crossorigin="anonymous" integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js" asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal" crossorigin="anonymous" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>

</html>