@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

@section styles{
    <link rel="Stylesheet" href="@Href("~/lib/creative/css/creative.css")" />
    <link rel="Stylesheet" href="@Href("~/lib/bootstrap/dist/css/bootstrap.css")" />
    <link rel="Stylesheet" href="@Href("~/css/site.css")" />
}

<div class="container text-center" style="font-size:larger;">
        <div class="align-content-center"><h1>The High Council and the Ten Branches</h1></div>
        
        <h4><strong>The Church</strong> is led by the High Exarch with the advice of the High Council of Exarchs, who make the day-to-day decisions on Church policy. Each of the 10 branches of the Church has a seat on the High Council. </h4>

        <div class="align-content-center container" style="display: table-cell; vertical-align: middle; text-align: center">
                <img src="Assets/high_order.png" width="300px" style="align-content: center;" class="img-fluid" />
            </div>

        <h4><strong>The High Order</strong> is the bureaucracy of the Church and is led by the Grand Voice of the High Church. It has no formal planetary presence and reports directly to the High Exarch.</h4>

        <div class="align-content-center container" style="display: table-cell; vertical-align: middle; text-align: center">
                <img src="Assets/guardians.png" width="300px" style="align-content: center;" class="img-fluid" />
            </div>
        <h4><strong>The Guardians</strong> are the protectors of the Church and remain passive unless danger arises.</h4>

        <div class="align-content-center container" style="display: table-cell; vertical-align: middle; text-align: center">
                <img src="Assets/crusaders.png" width="300px" style="align-content: center;" class="img-fluid" />
            </div>
        <h4><strong>The Crusaders</strong> are the active military of the Church, deploying where needed to uphold righteousness.</h4>

        <div class="align-content-center container" style="display: table-cell; vertical-align: middle; text-align: center">
                <img src="Assets/orthodoxy.png" width="300px" style="align-content: center;" class="img-fluid" />
            </div>
        <h4><strong>The Orthodoxy</strong> holds that Church doctrine and scripture has been perfected by Divine intent and is not subject to change or anything beyond literal interpretation.</h4>

        <div class="align-content-center container" style="display: table-cell; vertical-align: middle; text-align: center">
                <img src="Assets/masoodites.png" width="300px" style="align-content: center;" class="img-fluid" />
            </div>
        <h4><strong>The Masoodites</strong> have Islamic roots and believe that High Exarch Masood al-Anwar was a true prophet.</h4>

        <div class="align-content-center container" style="display: table-cell; vertical-align: middle; text-align: center">
                <img src="Assets/conservatives.png" width="300px" style="align-content: center;" class="img-fluid" />
            </div>
        <h4><strong>The Conservatives</strong> follow the old dogma and teachings but with changing interpretations found in primal religious texts. Acting primarily as bookkeepers and historians, they preach that the ancient texts were written as warning examples to be heeded, and look to the past when solving problems.</h4>

        <div class="align-content-center container" style="display: table-cell; vertical-align: middle; text-align: center">
                <img src="Assets/reformists.png" width="300px" style="align-content: center;" class="img-fluid" />
            </div>
        <h4><strong>The Reformists</strong> are chiefly concerned with the daily operation and organization of the Church, taking what they call a more practical view of the doctrine and ethics. This may cause some tension with some of the other branches, but the loyalty of the Reformists is not in question.</h4>

        <div class="align-content-center container" style="display: table-cell; vertical-align: middle; text-align: center">
                <img src="Assets/karmists.png" width="300px" style="align-content: center;" class="img-fluid" />
            </div>
        <h4><strong>The Karmists</strong> see the Messiah-Emperor as inhabited by the Divine Soul, and preach that if you live a good life you will become one with that Soul. The Karmists emphasize that they serve as guides, not leaders.</h4>

        <div class="align-content-center container" style="display: table-cell; vertical-align: middle; text-align: center">
                <img src="Assets/observers.png" width="300px" style="align-content: center;" class="img-fluid" />
            </div>
        <h4><strong>The Observers</strong> adhere to non-interference above all, believing that the Church shall observe and admire God’s creation. Many Observers are hermits and natural scientists.</h4>

        <div class="align-content-center container" style="display: table-cell; vertical-align: middle; text-align: center">
                <img src="Assets/purists.png" width="300px" style="align-content: center;" class="img-fluid" />
            </div>
        <h4><strong>The Purists</strong> proclaim Purity and Glory of Humanity, of which the Emperor stands as the Pinnacle. Aliens are to be exterminated to make way for Humanity, and Synths are soulless and have no ‘emotion’ but deception. Many Inquisitors are of the Purist branch.</h4>
    </div>