@page
@model TenBlessings
@{
    ViewData["Title"] = "The 10 Blessings of our Faith";
}
<!-- <h2>@ViewData["Title"]</h2> -->
<h3>@Model.Message</h3>

<div id="blessings" style="font-style: italic; color:darkgrey">
        <p>@Model.blessing_1</p>
        <p>@Model.blessing_2</p>
        <p>@Model.blessing_3</p>
        <p>@Model.blessing_4</p>
        <p>@Model.blessing_5</p>
        <p>@Model.blessing_6</p>
        <p>@Model.blessing_7</p>
        <p>@Model.blessing_8</p>
        <p>@Model.blessing_9</p>
        <p>@Model.blessing_10</p>
</div>
