@page
@model JoinModel
@{
    ViewData["Title"] = "Join the Church";
}
<!-- <h2>@ViewData["Title"]</h2> -->
<!-- <h3>@Model.Message</h3> -->

<div class="container">
        <div class="quote-box">
          <div class="quote">
            <blockquote style="font-style: italic; color: darkgrey;">
              <p>@Model.Quote</p>
              <p>@Model.Name</p>              
            </blockquote>
          </div>
        </div>
      </div>

<h2>@Model.title</h2>
<p>@Model.content</p>
