@page
@model DecreesModel
@{
    ViewData["Title"] = "Decrees";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/lib/creative/css/creative.css")" />
    <link rel="Stylesheet" href="@Href("~/lib/bootstrap/dist/css/bootstrap.css")" />
    <link rel="Stylesheet" href="@Href("~/css/site.css")" />
}

<div class="content container-fluid col-centered">
        <div class="row-fluid">
            <div class="col-6 col-centered">
                <img class="img-fluid img-thumbnail" src="/Assets/pope_hat_compressed.png" />
            </div>
        </div>
        <div class="row-fluid">
            <div class="col" style="font-size:larger;">
                <h2 class="text-center"><strong>From the Throne of St. Mercury</strong></h2>
                <h3 class="text-center"><i>Decree - The Sanctity of the Soul</i></h3>
                </br>
                @Html.Raw(Model.mod_text)
            </div>
        </div>
        <div class="row-fluid">
            <div class="col" style="font-size:larger;">
                <div class="col-3 img img-fluid center"><img src="Assets/high_order.png" width="300px" style="align-content: center;" class="img-fluid" /></div>
                </br>
                <h2 class="text-center"><strong>Council of Exarchs Divine Proclamation on the Mocking of Human Divinity via Synthetic Organisms</strong></h2>
                </br>
                <h3 class="text-center"><i>A Proclamation by the Council of Exarchs</i></h3>
                </br>
                @Html.Raw(Model.synth_decree_text)
            </div>
        </div>
    </div>

