@page
@model ReadingModel
@{
    ViewData["Title"] = "Reading";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/lib/creative/css/creative.css")" />
    <link rel="Stylesheet" href="@Href("~/lib/bootstrap/dist/css/bootstrap.css")" />
    <link rel="Stylesheet" href="@Href("~/css/site.css")" />
}
     <div class="container-fluid">
        <div class="row-fluid">
            <div class="container-fluid">
                <div class="col-12 col-centered">
                    <div class="jumbotron" style="font-size: larger;">
                        @Html.Raw(Model.qasim_text)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-12 col-centered">
                        <div class="jumbotron" style="font-size: larger;">
                            @Html.Raw(Model.ages_text)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 justify-content-end">
                <img class="img-fluid" src="Assets/saint_mercury.jpg" style="float: right;"/>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="font-size: larger;">
                <h3>With the high days of Mercury past, let us once again turn our hearts to the Emperor with these words from St. Mercury.</h3>
                        <h4>From the Book of Mercury, Second Disk, First Side</h4>
                        <hr></hr>
                        <div class="blockquote">
                            <p>Fear me you lords and lady preachers</p>
                            <p>I descend upon your earth from the skies</p>
                            <p>I command your very souls you unbelievers</p>
                            <p>Bring before me what is mine</p>
                            <p>The seven seas of rhye</p>
                            <p>Can you hear me you peers and privvy counsellors</p>
                            <p>I stand before you naked to the eyes</p>
                            <p>I will destroy any man who dares abuse my trust</p>
                            <p>I swear that you'll be mine</p>
                            <p>The seven seas of rhye</p>
            </div>
        </div>
    </div>